*{
    margin: 0;
    padding: 0;
}
.form{
    background-color: goldenrod;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 60%;
    margin: auto;
    margin-top:200px;
    
}

.input{
    width: 60%;
    margin-top: 40px;
    height: 30px;
}
.submit{
    width: 200px;
    height: 30px;
    margin-top:40px;
    margin-bottom: 40px;
}


@media screen and (max-width: 992px) {
    .form {
      background-color: blue;
    }
  }

  @media screen and (max-width: 600px) {
    .form {
      background-color: olive;
    }
  }